Package: omega-engine
Version: 3.3.1
Architecture: amd64
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Depends: libgl1, mesa-vulkan-drivers, libc6 (>= 2.34), libcurl4-gnutls (>= 7.16.2), libopenal1 (>= 1.14), libopus0 (>= 1.1), libsdl2-2.0-0 (>= 2.0.12), libvorbisfile3 (>= 1.1.2), zlib1g (>= 1:1.1.4)
Section: games
Priority: optional
Description: An unofficial fork of the Quake3e engine for OpenArena.
