[Desktop Entry]
Name=OmegA
Exec=/usr/games/openarena-omega
Terminal=false
Icon=omega256
Type=Application
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;ctf;capture the flag;
